/* fancypants fonts */

@font-face {
    font-family: 'GartonMedium';
    src: url('/fonts/garto16-webfont-eot.eot');
    src: url('/fonts/garto16-webfont-eot.eot?#iefix') format('embedded-opentype'),
         url('/fonts/garto16-webfont-woff.woff') format('woff'),
         url('/fonts/garto16-webfont-ttf.ttf') format('truetype'),
         url('/fonts/garto16-webfont-svg.svg#GartonMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* actual page styles go here! */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #000000;
  color: #7ABFA7;
  text-align: center;
  font-family: 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #7ABFA7;
}

a:hover {
  color: #7ABFA7;
}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
}

h1 {
  font-family: 'GartonMedium', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
  font-style: normal;
  font-size: 60px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: -1px;
}

h1 a:link,
h1 a:hover,
h1 a:visited {
  color: #7ABFA7;
  text-decoration: none;
}

h2 {
  font-weight: normal;
  font-size: 26px;
  line-height: 39px;
  margin: 10px 0;
}

p, ul, ol {
  margin: 20px 0;
  font-size: 15px;
  line-height: 24px;
}

ul {
  margin-left: 20px;
}

p.meta {
  margin: 0;
  margin-top: -10px;
  font-size: 12px;
  color: #7ABFA7;
}

pre {
  background: #F4F4F4;
  font-family: 'Bitstream Vera Sans Mono', Courier, monospace !important;
  font-size: 13px;
  line-height: 1.5;
  margin-bottom: 1.625em;
  overflow: auto;
  padding: 0.75em 1.625em;
}

blockquote {
  margin: 0 3em;
}

blockquote p {
  color: #7ABFA7;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-style: italic;
  font-weight: normal;
  margin-left: -50px;
}

cite {
  color: #7ABFA7;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  margin-left: 35px;
}

ul#nav {
  list-style-type: none;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 25px;
  margin-left: 70px;
  font-family: 'GartonMedium', 'Palatino Linotype', 'Book Antiqua', 'Palatino', serif;
  font-style: normal;
  font-weight:800;
  font-size: 20px;
}

ul#nav li {
  display: inline;
  margin-right: 30px;
}

span.tag {
  font-size: 11px;
  text-transform: uppercase;
  background: #222222;
  padding: 5px;
  margin-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

img {
  border: 1px solid #CCC;
}

ol {
  padding-left: 30px;
  margin-left: 10px;
  text-align: left;
}


/* you can put text styles here */

p {
  color: #7ABFA7;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 14px;
  font-style: normal;
  line-height: normal;
  padding-left: 70px;
  margin-left: 0px;
  line-height: 20px;
  max-width: 750px;
}

#footer p {
  color: #7ABFA7;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-size: 12px;
  font-style: normal;
  padding-top: 10px;
  padding-left: 10px;
}

h2 {
  color: #7ABFA7;
  font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 40px;
  letter-spacing: 2px;
  padding-left: 70px;
  margin-left: 0px;
}

.sharebuttons {
  margin-left: 67px;
  padding-top: 10px;
}

/* layout funsies */

.centre {
  margin-left: 70px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

#footer {
  clear: both;
  margin-left: 0px;
}

.homepage_image {
  margin-top: 27px;
}